header {
  text-align: center;
}
#guess {
  font-size: 1.5em;
  font-family: arial;
}
.input {
  border-color: black;
  font-size: 100%;
  border-style: double;
  width: 12%;
}
.button {
  color: white;
  font-size: 90%;
  background-color: black;
  border-color: transparent;
}
.spaces {
  font-size: 5em;
  font-family: arial;
  text-transform: uppercase;
}
.gallows {
  text-align: right;
  float: inline-start;
  margin-right: 140px;
  margin-top: -100px;
}
.wrongs {
  color: red;
  font-size: 4em;
  font-family: arial;
  text-align: left;
  text-transform: capitalize;
}
